SSH_HOST=your_remote_host
SSH_USER=your_username
SSH_PASS=your_password
JWT_SECRET=your_jwt_secret
REMOTE_LOG_PATH=/var/log/nginx/
LOCAL_LOG_PATH=/var/log/logtranscriber/raw/
DATA_OUTPUT_PATH=/var/lib/logtranscriber/data/
